.sidebarComponetns {
    width: 16rem;
}

.hide {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.active {
    display: block;
}

.sidebars {
    width: 90%;
}

.wrapper {
    width: 90%;
    padding: 5px;
}

@media screen and (max-width: 1220px) {
    .sidebars {
        width: 260px;
    }
}

@media screen and (max-width: 940px) {
    .sidebars {
        width: 100%;
    }
}