.main {
    max-height: max-content;
    min-height: 150vh;
    background: rgb(246, 255, 232);
    background: linear-gradient(236deg, rgba(246, 255, 232, 1) 0%, rgba(165, 231, 199, 1) 100%);
    padding: 10px;

    &__hero {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
        margin-right: 30px;
        justify-content: center;
        height: 100vh;
        align-items: center;
        gap: 30px;
        position: relative;
        z-index: 1;

        .content {
            width: 665px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            button {
                width: max-content;
            }
        }

        .imageContent {
            bottom: 0;
            z-index: -1;
        }

        @media screen and (max-width: 600px) {
            .content {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 16px;
                }

                button {
                    width: max-content;
                }
            }

            .imageContent {
                display: none;
            }
        }
    }

    .card {
        margin: auto;
        width: 90%;
        height: max-content;
        padding: 15px;
        border-radius: 14px;
        background: rgb(26, 102, 82);
        background: linear-gradient(105deg, rgba(26, 102, 82, 1) 20%, rgba(54, 181, 151, 1) 200%);

        &__container {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr;
            width: 100%;
        }

        &__textContent {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 80%;

            h1 {
                color: $white;
                font-size: 35px;
            }

            p {
                color: $white;
            }
        }

        @media screen and (max-width : 600px) {
            width: 90%;

            &__container {
                grid-template-columns: 1fr;

            }

            &__textContent {
                width: 100%;
                text-align: center;

                h1 {
                    font-size: 32px;
                }

                p {
                    font-size: 16px;
                }
            }

            &__imageSwipper {
                width: 100%;
                margin-top: 20px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }

    @media screen and (max-width:800px) {
        .card {
            &__container {

                grid-template-columns: 1fr;
            }
        }

    }
}


// About
.about {
    background-image: url('/assets/Background/TopBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -500px;
    min-height: 60vh;
    max-height: max-content;
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    place-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: center;

        .LContent {
            width: 80%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 8px;
            gap: 10px;

            .primary_button {
                margin-top: 20px;
            }
        }

        .RContent {
            width: 10%;

            .logoMulon {
                object-fit: contain;

            }
        }
    }

    @media screen and (max-width : 600px) {
        &__wrapper {
            margin: 20px;

            .RContent {
                object-fit: contain;
            }

            .LContent {
                display: flex;
                gap: 20px;

                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}

//section

.sectionContanier {
    max-height: max-content;
    min-height: 60vh;
    width: 90%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    justify-content: center;
    margin: auto;

    &__image {
        width: 90%;
    }

    &__param {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h1 {
            font-size: 40px;
        }
    }

    @media screen and (max-width : 780px) {
        grid-template-columns: 1fr;
        gap: 30px;

        &__param {
            width: 90%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            h1 {
                font-size: 26px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .socialContainer {
        h1 {
            font-size: 36;
        }
    }
}

//services

.services {
    min-height: 80vh;
    max-height: max-content;
    width: 90%;
    margin: auto;
    background-image: url('/asset/vector/eclipsTop.svg');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    &__param {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__image {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    @media screen and (max-width :780px) {
        width: 90%;
        margin: auto;

        &__image {
            zoom: 70%;
            align-items: center;
            justify-content: center;
        }

        &__param {
            width: 90%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 20px;

            h1 {
                font-size: 30px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}


// Promo

.promo {
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    background-image: url('/asset/rightCircle.svg');
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    margin-left: 90px;
    gap: 20px;

    &__left {
        width: 550px;
    }

    &__right {
        margin-right: 90px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .url {
            color: #4285F4;
            cursor: pointer;
        }
    }

    @media screen and (max-width: 1114px) {
        grid-template-columns: 1fr;
        margin-left: 0;
        padding: 20px;

        &__left {
            width: 80%;
            display: grid;
            place-items: center;
            margin: auto;
        }

        &__right {
            margin-right: 0;
            text-align: center;
        }
    }

    @media screen and (max-width: 720px) {
        &__right {
            margin-right: 0;
            text-align: center;

            h1 {
                font-size: 40px;
            }

            p {
                font-size: 18px;
            }
        }
    }
}

// Social

.socialContainer {
    min-height: 80vh;
    max-height: max-content;
    background-image: url("/public/assets/Background/bottomBg.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    gap: 50px;

}


.socialImage {
    position: absolute;
    max-width: 90%;
    bottom: -110px;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.card__items{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-around;
    align-items: center;

    @media screen and (max-width: 740px) {
        gap: 5px;
        
    }
}