.container {
    display: flex;
}


.none {
    display: none;
}


.main {
    flex: 5;
}

// SIDEBAR CONTROL

.sidebar {
    flex: 1;
    display: block;
}

.open {
    flex: 1;
    margin-right: 5px;
    display: block;
}

.hidden {
    display: none;
}

// .absolute {
//     flex: 0;
//     left: 0;
//     top: 0;
//     background-color: white;
//     transition: transform 0.6s ease 1s;
//     height: 100%;
//     position: fixed;
//     // transform: translateX(-100%);
//     width: 16rem;
//     flex-shrink: 0;
//     z-index: 99;
//     overflow-y: auto;
// }

@media screen and (max-width : 900px) {
    .main {
        width: 100%;
    }

    .container {
        display: block;
    }

    .open {
        flex: 0;
        left: 0;
        top: 0;
        background-color: white;
        transition: transform 0.6s ease 1s;
        height: 100%;
        position: fixed;
        // transform: translateX(-100%);
        width: 16rem;
        flex-shrink: 0;
        z-index: 99;
        overflow-y: auto;
    }
}